/* 
Stories.html CSS 
author: Ayrlin Renata
*/

/* ---------- elements ---------- */

body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: #eeeeee;
}

hr {
	margin-top: 2em;
	margin-bottom: 2em;
	border-color: #777777;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

mark {
	background-color: transparent;
	color: #eeeeee;
}

input {
	background-color: #131313;
}

blockquote {
	font-style: italic;
}

iframe {
	border: none;
    width: 100%;
}
/* ---------- classes ---------- */

.t-text {
	/* position */
	margin-left: 10px;
	margin-right: 10px;
	
	/* text */
	font-family: Josefin_Sans;
	white-space: nowrap;
	font-size: 13vh;
	text-shadow: 1px 2px 3px #ffffff;
}

.st-text {
	/* position */
	margin-left: 10px;
	margin-right: 10px;
	
	/* text */
	font-family: Josefin_Sans_Light;
	white-space: nowrap;
	font-size: 3.5vh;
}

.body-row {
	padding-right: 5vw;
}

.highlight-gray {
	color: rgb(155,154,151);
}
.highlight-brown {
	color: rgb(100,71,58);
}
.highlight-orange {
	color: rgb(217,115,13);
}
.highlight-yellow {
	color: rgb(223,171,1);
}
.highlight-teal {
	color: rgb(15,123,108);
}
.highlight-blue {
	color: rgb(11,110,153);
}
.highlight-purple {
	color: rgb(105,64,165);
}
.highlight-pink {
	color: rgb(173,26,114);
}
.highlight-red {
	color: rgb(224,62,62);
}

/* ---------- ids ---------- */

#load-screen {
	/* position */
	position:absolute;
	background: #151515;
}
#load-text-container {
	/* position */
	padding-top: 45vh;
	
	/* flex */
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
#load-title {
	color: #FFFFFF; 
	margin-left: auto;
	margin-right: auto;
}
#load-subtitle {
	color: #A0A0A0;
	margin-left: auto;
	margin-right: auto;
}
#title-screen {
	/* position */
	position: static;
	width: 100vw;
	height: 20vh;
	
	/* bg */
	background: url("../img/bg/sky 720p.png"); /* media override for larger screens*/
	background-position: center;
	background-repeat: no-repeat;
	background-color: #151515;
	background-size: 100%;
	
	/* function */
	user-select: none;

}
#title-container {
	/* flex */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	
	/* position */
	width: 100vw;
	padding-top: 2vh;
	
	/* text */
	color: #FFFFFF;
}
#subtitle-container {
	/* flex */
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: -1.5vh;
	align-items: baseline;

	
	/* text */
	color: #FFFFFF;
}
#subtitle-1,
#subtitle-2,
#subtitle-3,
#subtitle-4 {
    text-shadow: 1px 2px 2px #ffffff;
}
#subtitle-5 {
	color: #808080;
    text-shadow: 1px 2px 2px #a0a0a0;
	font-family: Raleway_LightItalic;
	font-size: 3vh;
	margin-left: 8px;
	margin-right: 8px;
}
#subtitle-6 {
	color: #505050;
    text-shadow: 1px 2px 2px #202020;
	font-family: Raleway_LightItalic;
	font-size: 3vh;
	margin-left: 8px;
	margin-right: 8px;
}
#subtitle-7 {
	color: #202020;
    text-shadow: 1px 2px 2px #000000;
	font-family: Raleway_LightItalic;
	font-size: 3vh;
	margin-left: 8px;
	margin-right: 8px;
}

#top-overlay {
	/* position */
	position: absolute;
	top: 0;
	left: -4vw;
	opacity: 1;
	pointer-events: none;
}
#tris-overlay {
	filter: invert(1);
	height: 20vh;
	opacity: 0.5;
}

/* STORY CONTAINER */
#story-container {
	margin-top: 2em;
}


/* COMMENTS FIXING */
#HCB_comment_box > h3 {
	display: none;
}

#HCB_comment_box input, 
#HCB_comment_box textarea {
	background-color: #090909 !important;
	font-family: Roboto_Mono !important;
}

#HCB_comment_form_box > a {
	color: #eeeeee !important;
	background-image: none !important;
    outline: none !important;
    border: solid 1px #131313 !important;
	font-family: Roboto_Mono !important;
    transition: none !important;
    background-repeat: no-repeat !important;
    box-shadow: none !important;
    background-color: #131313 !important;
	margin-top: 0px !important;
	margin-bottom: 1em !important;
}

#hcb_file_label > a {
	color: #eeeeee !important;
	background-color: #131313 !important;
	border-color: #131313 !important;
	font-family: Roboto_Mono !important;
	padding: 5px !important;
	margin-left: 15px !important;
	margin-top: 0px !important;
	vertical-align: top !important;
}

#hcb_submit {
	margin-bottom: 0px !important;
	padding: 5px !important;
}

#hcb_form > div.home-desc {
	display: none;
}

#hcb_subscribe > span {
	font-family: Roboto_Mono !important;
	vertical-align: top !important;
}

#hcb_settings {
	/* color: #006666 !important; */
	font-family: Roboto_Mono !important;
	vertical-align: text-bottom !important;
}

#hcb_settings > img {
	display: none !important;
}

#hcb_msg {
	font-family: Roboto_Mono_Light !important;
}

#comment-cred > a {
	color: #00AAAA;
	font-family: Roboto_Mono;
	font-size: 0.8em;
}

#comments_list {
	font-family: Roboto_Mono_Light !important;
}

#comments_list > .comment {
	background-color: #090909;
    padding: 1em;
    padding-top: 0.1em;
}

#comments_list > .comment > blockquote {
	font-style: normal;
}

#comments_list > .comment > .hcb-comment-tb > a {
	color: #00AAAA;
}

/* ---------- dynamic design yayyyyyyyyyyyyyyyyy......... ---------- */

@media screen and (min-height:2161px) { /* larger than 4k */
	#title-screen {
		background: url("../img/bg/sky 8k.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #151515;
	}
}
@media screen and (min-height:1441px) and (max-height:2160px) { /* larger than 1440p */
	#title-screen {
		background: url("../img/bg/sky 4k.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #151515;
	}
}
@media screen and (min-height:1081px) and (max-height:1440px) { /* larger than 1080p */
	#title-screen {
		background: url("../img/bg/sky 1440p.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #151515;
	}
}
@media screen and (min-height:721px) and (max-height:1080px) { /* larger than 720p */
	#title-screen {
		background: url("../img/bg/sky 1080p.png");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #151515;
	}
}

@media screen and (max-width:900px) {
	#subtitle-container {
		display: none;
	}
	#title-screen {
		background-size: cover !important;
	}
}


