/* ---------- random title ---------- */
.rtitle {
	animation-timing-function: ease-in;
	color: #00aacc;
}
.rtitle.anim-rtitle-out {
	animation: fade-out 1s;
}
.rtitle.anim-rtitle {
	animation: from-below 2s, fade-in 5s;
}
#rtitle {
	flex-wrap: wrap;
	font-variant-caps: small-caps;
	display: flex;
	flex-direction: row;
}
#rtitle > div {
	margin-right: 0.25em;
}
